<div class="container">
    <div class="button-container">
        <h2>Fabricantes</h2>
        <button md-raised-button routerLink="/admin/add-fabricante">Adicionar Fabricante</button>
    </div>
    <p *ngIf="(categories | async)?.length === 0" class="center">
        No Fabricantes yet
    </p>
    <md-card class="category" *ngFor="let category of fabricantes | async">
        <div class="content">
            <h3>
                <a routerLink="/category/{{ category.payload.val().slug }}" target="_blank" stop-propagation>
                    {{category.payload.val().name}}
                </a>
            </h3>
        </div>
        <div class="publish">
            <div class="edit">
                <button md-raised-button routerLink="/admin/edit-fabricante/{{ category.key }}">
                    Editar
                </button>
                <button md-raised-button (click)="deleteCategory(category)"
                    *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin')">
                    Deletar
                </button>
            </div>
        </div>
    </md-card>
</div>