<div class="container">
    <div class="button-container">
        <h2>Produtos</h2>
        <button md-raised-button routerLink="/admin/add-product">Adicionar Produtos</button>
    </div>
    <p *ngIf="(products | async)?.length === 0" class="center">
        No products yet
    </p>
    <md-card class="product" *ngFor="let product of products | async">
        <div class="max-100">
            <img [src]="product.payload.val().thumbnail" *ngIf="product.payload.val().thumbnail"
                alt="{{product.payload.val().title}}" itemprop="image">
            <img src="../../../../assets/placeholder.jpg" *ngIf="!product.payload.val().thumbnail"
                alt="{{product.payload.val().title}}" itemprop="image">
        </div>
        <div class="content">

            <h3>
                <a routerLink="/product/{{product.payload.val().url}}" target="_blank">
                    {{product.payload.val().title}}</a>
            </h3>
            
            <div class="date">
                <span *ngFor="let categ of categorias | async">
                    <p *ngIf="product.payload.val().category === categ.payload.val().entityKey">Categoria: {{categ.payload.val().name}}</p>
                </span>
                <span *ngFor="let categ of fabricantas | async" *ngIf="product.payload.val().category === categ.payload.val().entityKey">Marca: {{categ.payload.val().name}} </span>
                <span>
                    {{product.payload.val().price | currency:'BRL':true }}
                </span>
                <md-slide-toggle ngDefaultControl (change)="onChange($event, product.key)"
                    [(ngModel)]="product.payload.val().published"
                    *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin')">
                    <span *ngIf="!product.payload.val().published">Publicar</span>
                    <span *ngIf="product.payload.val().published">Despublicar</span>
                </md-slide-toggle>
            </div>
        </div>
        <div class="publish">

            <div class="edit">
                <button md-raised-button routerLink="/admin/edit-product/{{ product.key }}">
                    Editar
                </button>
                <button md-raised-button (click)="deleteProduct(product)"
                    *ngIf="(currentAdmin.role === 'super-admin' || currentAdmin.role === 'admin')">
                    Deletar
                </button>
            </div>
        </div>
    </md-card>
</div>